{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>Bienvenue sur {{ website }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}