{% extends 'base.html.twig' %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
                <ul>
            {% for season in seasons %}
                    <a href="{{ path('wild_season' , { 'programName' : program.title , 'id' : season.id }) }}"><li>Season : {{ season.number }}</li></a> <br> {{ season.description }}
            {% endfor %}
                </ul>
            <strong>Actors :</strong>
            <ul>
                {% for actor in program.actors %}
                    <a href="{{ path('actor_show' , { 'id' : actor.id }) }}"><li>{{ actor.name }} </li></a>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
            <a href="{{ path('wild_index') }}">back programs</a>
        </div>
    </div>
{% endblock %}