{% extends 'base.html.twig' %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Season {{ season.number }} of {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>Category : {{ program.category.name }}</p>

            <h1>List of episodes</h1>
            <ul>
                {% for episode in episodes %}
                    <li><a href="{{ path('wild_episode' , { 'programName' : program.title , 'season' : season.id , 'episode' : episode.id }) }}">Episode {{ episode.number }}</a> : {{ episode.synopsis }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('show_program' , { 'programName' : program.title }) }}">back for show all seasons of {{ program.title }}</a>
        </div>
    </div>

{% endblock %}